In [1]:
id = c(1,2,1,4,2)
year = c(1980, 1990, 2000, 2010, 2020)
salary = c(2000, 3000, 4000, 5000, 6000)
df = data.frame(id, year, salary)

In [3]:
paste("a", "b")

[1] "a b"

In [4]:
paste("a", 1:5, sep = "")

[1] "a1" "a2" "a3" "a4" "a5"

In [5]:
paste("a",1:5,".pdf", sep = "")

[1] "a1.pdf" "a2.pdf" "a3.pdf" "a4.pdf" "a5.pdf"

In [6]:
a <- unlist(strsplit("一二三四五六日", split=""))
a

[1] "一" "二" "三" "四" "五" "六" "日"

In [8]:
a <- c("一", "两", "三四")
a

[1] "一"   "两"   "三四"

In [13]:
# paste(a, "片", sep="--", collapse="+")
paste(a, collapse="+")

[1] "一+两+三四"

In [2]:
library(dplyr)
x<-data.frame(id=1:6,
              name=c("wang","zhang","li","chen","zhao","song"),
              shuxue=c(89,85,68,79,96,53),
              yuwen=c(77,68,86,87,92,63))
x

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  id name  shuxue yuwen
1 1  wang  89     77
2 2  zhang 85     68
3 3  li    68     86
4 4  chen  79     87
5 5  zhao  96     92
6 6  song  53     63

In [12]:
x<-data.frame(id=1:6,
              name=c("wang","zhang","li","chen","zhao","song"),
              shuxue=c("a", "a", "b", "b", "c", "c"),
              yuwen=c(77,68,86,87,92,63))
y <-x %>%
    group_by(shuxue)%>%
    summarise( haha= paste0( name, collapse = "+"))%>%
    ungroup()
y

`summarise()` ungrouping output (override with `.groups` argument)

  shuxue haha
1 a      wang+zhang
2 b      li+chen
3 c      zhao+song

In [19]:
y <-x %>%
    group_by(shuxue)%>%
    arrange("yuwen" ) %>%
    mutate(sequence = row_number() )
y

  id name  shuxue yuwen sequence
1 1  wang  a      77    1
2 2  zhang a      68    2
3 3  li    b      86    1
4 4  chen  b      87    2
5 5  zhao  c      92    1
6 6  song  c      63    2